.app-body {
  height: 100%;
  width: 100%;
  padding-top: var(--headerHeight);

  &-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
  }
}

.canvas-container {
  width: 90vw;
  max-width: 500px;
  position: relative;

  & canvas {
    display: block;
    width: 100%;
  }
}

#canvas-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

#canvas-drawing {
  position: relative;
  z-index: 20;
}

#canvas-preview {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
  pointer-events: none;
}

.rendering-pixeled {
  image-rendering: -moz-crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}
