.app-body {
  height: 100%;
  width: 100%;
  padding-top: var(--headerHeight);

  &-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
  }
}

#canvas {
  background: white;

  image-rendering: crisp-edges;
}
