.app-body {
  height: 100%;
  width: 100%;
  padding-top: var(--headerHeight);

  &-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
  }
}

.canvas-container {
  width: 90%;
  max-width: 500px;
}

#canvas-drawing {
  width: 100%;
  background: white;

  image-rendering: -moz-crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}
