.controllers {
  border-radius: 10px 0px 0px 10px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.controller {
  border: 1px solid white;
  border-radius: 5px;

  .icon-text {
    right: 110%;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media all and (max-width: 768px) {
  .controllers {
    border-radius: 0;
    transform: none;
  }

  .controller .icon-text {
    top: auto;
    right: auto;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  //First and last icon text get out of view
  .controller:first-child .icon-text {
    left: 0;
    transform: translateY(-50%);
  }

  .controller:last-child .icon-text {
    left: auto;
    right: 0;
    transform: translateY(-50%);
  }
}
