/*
    In here goes all the styles imported, and global styles.
    Then, this file is imported to the app index.js
*/

// Global Style

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mainColor: #1f1f1f;
  --secondColor: #00b2ff;
  --headerHeight: 80px;
}

#app {
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background: gray;
  color: white;
}

input {
  font-family: 'Roboto', sans-serif;
}

a {
  display: block;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.center-page {
  padding: 0 2rem;
}

.icon {
  position: relative;
  background: none;
  outline: none;
  border: none;
  width: 40px;
  height: 40px;
  color: white;
  // Prevent that ugly blue box when it's clicked on mobile
  -webkit-tap-highlight-color: transparent;

  svg {
    font-size: 40px;
    pointer-events: none;
  }

  &-text {
    position: absolute;
    text-transform: capitalize;
    white-space: nowrap;
    background: var(--mainColor);
    border: 1px solid white;
    border-radius: 5px;
    padding: 3px;
    font-size: 1rem;

    display: none;
  }

  &:hover {
    background: #383838;
    border-radius: 10px;
  }

  &:hover &-text {
    display: block;
  }
}

.panel {
  background: var(--mainColor);
  width: var(--headerHeight);
  padding: 1rem 0;
  position: absolute;
  z-index: 200;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > *:not(:last-child) {
    margin-bottom: 1rem;
  }
}

@media all and (max-width: 768px) {
  .panel {
    position: static;
    width: auto;
    height: var(--headerHeight);
    padding: 5px 1rem;
    flex-direction: row;

    &:not(:last-child) {
      border-bottom: 1px solid rgb(0, 0, 0);
    }

    & > *:not(:last-child) {
      margin-bottom: 0;
    }

    & > * {
      margin: 0 auto;
    }
  }
}

@import './header.scss';
@import './body.scss';
@import './tools.scss';
@import './settings.scss';
@import './controllers.scss';
