.tools {
  border-radius: 0px 10px 10px 0px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.tool {
  &[name='circle'] {
    font-size: 45px;
  }

  &.selected {
    background: rgb(0, 140, 255);
    border-radius: 10px;
  }
}

@media all and (max-width: 768px) {
  .tools {
    border-radius: 0;
    transform: none;
  }
}
